[2020-02-03 15:49] magicmass opened #1 "Feature request"
It would be amazing if you could add Android support for this api?

[2020-02-15 13:52] magicmass opened #2 "URI Redirect"
How do i add a URI Redirect to the Plaid Link Configuration?

I've had a look at your code and I can't see any support for it. Is there a way to add it myself or has it just not been implemented yet?

[2020-02-16 16:27] jorgefspereira commented on #1
I'm working on it at the moment :)

[2020-02-16 16:28] jorgefspereira commented on #2
I'll add support for it today :)

[2020-02-19 16:30] #1 closed

[2020-02-19 16:30] #2 closed

[2020-02-20 16:54] magicmass opened #3 "Error when compiling 0.2.0"
Hi,
I get this error at runtime after to updating to the latest commit of Plaid_flutter.

Not sure how to fix this.

Any help would be most appreciated.

Error below:

[code]

[2020-02-20 17:01] jorgefspereira commented on #3
Fixed and published 0.2.1. Should be no errors now.

[2020-02-20 17:01] #3 closed

[2020-04-09 06:22] stephaniemartin opened #5 "Unhandled Exception: MissingPluginException(No implementation found for method open on channel plugins.flutter.io/plaid_flutter)"
I am using v0.2.2
I got this error when build on android:
Unhandled Exception: MissingPluginException(No implementation found for method open on channel plugins.flutter.io/plaid_flutter)

I've added this on build.gradle:

    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

I have set the minimum api to 21.
in iOS it bu

[2020-04-20 14:39] jorgefspereira commented on #5
Thanks for reporting. Can you check these questions list here [flutter/flutter#10912 (comment)](https://github.com/flutter/flutter/issues/10912#issuecomment-310499594)

[2020-05-16 04:52] StanfordLin opened #6 "Add multiple countries"
It would be really awesome if countryCodes can be added to support more countries

https://github.com/plaid/react-native-plaid-link-sdk
https://plaid.com/docs/faq/#does-plaid-support-international-bank-accounts-
      'countryCodes': ['CA']

[2020-05-28 14:44] jorgefspereira commented on #6
Hi @StanfordLin. Added the countryCode support on the new 0.2.5 version. Thank you for the suggestion.

[2020-05-28 14:44] #6 closed

[2020-06-11 13:34] jchrisp opened #8 "PlaidLink - update existing item"
Hi, is it possible to pass in an existing `public_token` in order to re-link an existing item? I believe you would only need to pass in the `token` param. See below.

plaid.com/docs/#updating-items-via-link

![Screen Shot 2020-06-11 at 9 33 46 AM](https://user-images.githubusercontent.com/1140960/84391240-b2cee800-abc6-11ea-93dd-c35ad08b2268.png)

Thanks!

[2020-06-11 13:53] jchrisp opened #9 "Account Subtype error: Investment > Brokerage"
Hi,

I think there's an issue when specifying `investment` account type and `brokerage` subtype.

[code]

[code]

I can try to dig further into it later

[2020-06-19 01:47] jorgefspereira commented on #5
Closing the issue due to lack of response.

[2020-06-19 01:47] #5 closed

[2020-06-19 01:54] jorgefspereira commented on #9
Hi @jchrisp, I've tested this options on the native iOS example provided by Plaid and the outcome is the same ("an unexpected error occurred"). I'm closing this issue since it seems to be an issue on the native SDK itself and not on this plugin.

[2020-06-19 01:54] #9 closed

[2020-06-19 01:59] jorgefspereira commented on #8
Hi @jchrisp. Thank you for the feedback. I've updated the plugin with a new publicToken argument to enable the re-link of an existing item. Please check out the version 0.3.0 and if something is wrong feel free to reopen this issue.

[2020-06-19 01:59] #8 closed

[2020-06-20 11:57] jchrisp commented on #9
Ah, I see - thanks for confirming!

[2020-07-26 20:50] chezky opened #10 "Update to handle new plaid link"
Incredible job on this repo,

I'm not so familiar with java/swift otherwise I would try to implement this myself, but is there any way you can make a branch to support the latest plaid link requirementes? Thanks!

[2020-07-26 23:00] jorgefspereira commented on #10
Hi @chezky,

Thank you. This week I'm going to update the plugin to support the [plaid-link-android 2.1.0](https://github.com/plaid/plaid-link-android/releases/tag/2.1.0) and [plaid-link-ios 1.1.34](https://github.com/plaid/plaid-link-ios/releases/tag/public). Can you be more specific about the latest requirements that you need to be supported? Thanks

[2020-07-26 23:09] chezky commented on #10
Plaid has updated their link creation process. Before, you passed in a public token, which products you wanted, and some other configuration info. Now you just create the link with a token created server side. The current plaid documentation should explain this in better detail. Thanks man!

[2020-07-30 07:21] PearlByte opened #11 "Plugin requiring minSdkVersion 21"
Hello,

Thanks for this but I can't seem to get this plugin to work... it requires minSdkVersion 21 instead of 16 and I can't change that because it will break other plugins (like Google Firebase). Is there a way around this? Here's the error...
"Error: uses-sdk:minSdkVersion 16 cannot be smaller than version 21 declared in library"

Thanks,
Ziad
PearlByte

[2020-07-30 16:15] chezky commented on #11
@PearlByte   It's not an issue with plaid_flutter but with plaids native iOS and Android implementation. SKK v21 targets Android 5.0. That's a pretty impressive target, and it might be worthwhile allowing your entire app to target 5.0. Otherwise plaid link won't work natively.

[2020-07-30 16:34] PearlByte commented on #11
I thought so... ok, thank you for the response. I'll give that a try again.

[2020-07-30 16:38] PearlByte commented on #11
Also, do you have a better, more complete example on how to use your plugin? The example included is very simple. I think there are missing initial steps where you need to generate a public_key from a link_key and such... will the plugin handle that?

[2020-07-30 16:42] chezky commented on #11
@PearlByte currently only the old method of initializing a plaid link is supported. Using a public key. There is an open issue for this already, and hopefully @jorgefspereira will implement it soon.

[2020-07-30 19:45] PearlByte commented on #11
Great! Thanks for the update and thank you for your efforts guys. @chezky @jorgefspereira

[2020-07-30 20:02] PearlByte commented on #11
By the way... they no longer provide the public_key in the dashboard. I don't see it there that is why I couldn't use this.

[2020-08-05 18:58] jorgefspereira commented on #10
Hi @chezky. Thanks again for the feedback. I've released a new version of the plaid_flutter plugin with the new link_token configuration flow. Please check out the version 1.0.0 and if something is wrong feel free to report the issue.

[2020-08-05 18:58] #10 closed

[2020-08-05 18:59] jorgefspereira commented on #11
Hi @PearlByte, I didn't know Plaid is no longer providing the public_key to new customers. I've released a new version of the plaid_flutter plugin with the new link_token configuration flow. Please check out the version 1.0.0 and if something is wrong feel free to report the issue.

[2020-08-05 18:59] #11 closed

[2020-08-06 07:13] chezky commented on #10
@jorgefspereira incredible job man, thanks for the swift update

[2020-08-10 21:14] chezky opened #12 "institutionName is null"
Just switched to v1.1.0, seems like institutionName is always null on android.

[code]

Running in sandbox mode

[2020-08-14 18:49] PearlByte commented on #11
@jorgefspereira Thank you so much for the new version! Works perfectly! Great job!!

Only issue I have remaining is updating minSdkVersion to 21 (currently 16) for this plugin... when I change it in the build.gradle file, other plugins complain (like Google's Firebase which wants me to stay at 16). Any idea how I can upgrade my plugins to be ok with minSdkVersion 21 so that this plugin would play

[2020-08-17 13:43] jorgefspereira commented on #12
Hi @chezky, thank you for the issue report. The institution metadata was indeed not parsed properly on Android. I have released a new version of the plugin (1.1.1) fixing the issue.

[2020-08-17 13:43] #12 closed

[2020-08-18 17:20] PearlByte commented on #11
After re-creating my whole project from scratch and rebuilding it gradually with all my packages, it seems to be working. I ended up removing the **firebase_core** package for now and just sticking to firebase_auth that I need. Very weird issue but seems it is just not compatible with this Plaid package. I do have my minSdkVersion set to 21 now (instead of 16) and I'm targeting the latest sdk 28 a

[2020-08-19 12:45] jorgefspereira commented on #11
I'm going to take a look to the firebase_core weird issue. See if I can replicate here and check the incompatibility issue. Thanks again @PearlByte. Feel free to report any issues, I'll try to fix them as soon as possible.

[2020-08-24 20:02] slauzinho opened #13 "OAuth support"
Some institutions use an OAuth authentication flow, does the library offer support for those orgs?

According to their docs once you get the oauth_state_id from the url params you need to dismiss the old Link object and create a new one and pass the oauth_state_id to the new config.

[2020-08-25 21:41] jorgefspereira commented on #13
Hi @slauzinho

Yes OAuth is supported. You have on the LinkConfiguration object the properties `oauthRedirectUri ` and `oauthNonce` to initially launch Link. The `oauthStateId` can also be passed to complete the authentication flow.

I'm closing this issue. If you find any issue with the plugin feel free to report it.

[2020-08-25 21:41] #13 closed

[2020-08-25 21:46] slauzinho commented on #13
Hey @jorgefspereira I know you can pass the `oauthRedirectUri ` and the `oauthNonce` the issue is that when you first call `plaid.open()` with your `oauthRedirectUri` and `oauthNonce` you need to close the old plaid window and call `plaid.open()` again with the `oauthStateId`.

Do you know how I can implement this?

[2020-08-25 22:22] jorgefspereira commented on #13
Indeed is missing a dismiss method to be able to re-launch the framework. Thank you for the report. I'll submit tomorrow version 1.1.2 with a close method and then you just need to update the LinkConfiguration object and open again.

[2020-08-26 09:10] jorgefspereira commented on #13
Hi @slauzinho. Version 1.1.2 is live. Thank you again for the issue report. Any other feedback is always welcome.

[2020-08-26 09:15] slauzinho commented on #13
@jorgefspereira Thank you for your amazing lib and support

[2020-10-01 05:42] kaarens93 opened #16 "how to create a link token?"
Not an issue with this package but I'm having a lot of trouble creating a link token and I was hoping for some guidance. I've read the plaid documentation but it doesn't help at all. I tried using cloud functions. I'm using nodejs and I installed the plaid npm package so that I can use createLinkToken(). Does the /link/token/create endpoint need to be in my cloud function? I tried that but nothing

[2020-10-01 06:29] kaarens93 commented on #16
Nvm I figured it out!

[2020-10-01 06:29] #16 closed

[2020-10-06 10:57] tan-nad opened #17 "verificationStatus is allways NULL"
Since the version 1.1.4 `verification_status` is added on success callback, but the value is always NULL although using **Same Day Micro-deposits** flow.

I think should add `aux.put("verification_status", a.getVerificationStatus());` after this line for android
https://github.com/jorgefspereira/plaid_flutter/blob/master/android/src/main/java/com/github/jorgefspereira/plaid_flutter/PlaidFlutterPlu

[2020-10-06 16:19] kaarens93 opened #18 "[feature request] onExit callback should return error_code"
Currently onExit returns an error message (for example: "the provided credentials were not correct") that doesn't look anything in the official plaid documentation. It would be more useful to return error data such as what's returned in the onEvent callback like error_type, error_code, error_message (but error_code is sufficient).

Thanks for a great package :)

[2020-10-06 23:59] jorgefspereira commented on #17
Thank you for the report. Fixed and released version 1.1.5.

[2020-10-06 23:59] #17 closed

[2020-10-07 00:02] jorgefspereira commented on #18
hi @kaarens93, thank you for your suggestion. I'll improve the return error message after I finish the migration to the plaid 3.x sdk. Thank you

[2020-10-26 08:28] discoverchethan opened #21 "Exception has occurred."
Exception has occurred.
MissingPluginException (MissingPluginException(No implementation found for method open on channel plugins.flutter.io/plaid_flutter))

I'm new to this. could you please help me out? Thanks

[2020-10-26 17:31] discoverchethan commented on #21
[code]

[2020-10-30 10:26] discoverchethan commented on #21
Apparently downgrading path_provider to v1.5.0 makes it work

[2020-11-05 13:57] jdumont0201 opened #22 "OAuth support"
Please discard this issue.

[2020-11-05 18:00] jorgefspereira commented on #21
Hi @discoverchethan. I'm glad you were able to fix the issue. You can also check these questions list here [flutter/flutter#10912 (comment)](https://github.com/flutter/flutter/issues/10912#issuecomment-310499594) to find the root cause of your issue.

[2020-11-05 18:00] #21 closed

[2020-11-05 18:01] jorgefspereira commented on #22
Hi @jdumont0201, I'll close this issue. Feel free to open new issues in case you find something wrong with the plugin. Cheers.

[2020-11-05 18:01] #22 closed

[2020-11-15 21:30] smangat2017 opened #23 "onSuccess MetaData: null account.id"
Since the new rollout of [Plaid link](https://blog.plaid.com/the-all-new-plaid-link/), the account.id in the metadata variable passed into onSuccess has been null for me. Name, mask, and type are all there...no id though!

Running on iOS.

[2020-11-18 16:47] oshuam commented on #23
Seeing the same issue. Seems to be a recent problem with the iOS SDK (LinkKit). It apparently was solved on version 1.1.38 (https://github.com/plaid/plaid-link-ios/releases/tag/ios%2F1.1.38) but plaid_flutter is using 1.1.36 https://github.com/jorgefspereira/plaid_flutter/blob/master/ios/plaid_flutter.podspec

[2020-11-19 12:23] jorgefspereira commented on #23
Hi @smangat2017 @oshuam. I just updated the plugin to 1.1.6 which includes the new iOS LinkKit 1.1.38 that should fix the account.id onSuccess callback.

[2020-11-19 12:23] #23 closed

[2020-11-19 14:48] smangat2017 commented on #23
Awesome! Thanks @jorgefspereira. Much appreciated!

[2020-11-25 14:46] KelvinForteta commented on #16
Could you pls guide me through the process of creating a link token?

[2020-12-01 00:29] kaarens93 commented on #16
sure, I'm using dio package to make the http call. My code looks like:
`
    Response resp =
        await dio.post('https://sandbox.plaid.com/link/token/create', data: {
      'client_id': xxx,
      'secret': xxx,
      'user': {'client_user_id': xxx},
      'client_name': xxx,
      'products': ['auth'],
      'country_codes': ['US'],
      'language': 'en',
      'android_package_name': xxx,

[2020-12-11 17:48] malithkuruppu opened #26 "Code for getting the linkToken"
Can you kindly provide a dart code to get the `GENERATED_LINK_TOKEN`  for the following

[code]

I tried the following code but it gives: `[VERBOSE-2:ui_dart_state.cc(177)] Unhandled Exception: Exception: http.post error: statusCode= 400`

[code]

[2020-12-11 18:04] malithkuruppu commented on #26
Just had to remove the , from  `{ "client_user_id": "$unique_per_user", }`

[2020-12-11 18:04] #26 closed

[2020-12-12 06:08] ayushin opened #27 "web support"
Hi,

Adding web support should be trivial. Is anybody working on it already?

There's an implementation already that could be merged perhaps?

https://github.com/firelab-app/plaid_link/blob/master/lib/plaid_link_web.dart

[2020-12-14 11:18] jorgefspereira commented on #27
Hi @ayushin, I'll add web support by the end of the year.

[2020-12-15 17:39] malithkuruppu opened #28 "Keyboard not popping up when testing with iOS simulator"
The keyboard is not showing when I try to enter the User login details in Plaid interface in the iOS simulator.

Can you give me a solution to this problem?

Here is the exact code I used"

[code]

[2020-12-15 19:12] malithkuruppu commented on #28
Screenshot of the simulator from above code:

![Simulator Screen Shot - iPhone 12 Pro Max - 2020-12-16 at 00 40 28](https://user-images.githubusercontent.com/33695765/102261288-772b2700-3f37-11eb-8a39-ed08b6b96ecc.png)

[2020-12-19 18:21] pelanmar1 opened #29 "Futures instead of callbacks"
It would be great if the open function would return a future with the linkToken instead of having to specify the onSuccess/onError callbacks. Any ideas on how this could be solved?

Thanks

[2020-12-29 14:11] malithkuruppu commented on #29
I too agree if there is a possibility to  return a future with the linkToken!

[2021-01-05 08:02] kylegraycar opened #30 "_plaidLink.open() shows empty popup"
I'm trying to launch Link in Simulator using the linkTokenConfiguration, pretty much following the [Example](https://github.com/jorgefspereira/plaid_flutter/tree/master/example).

Here's my current code for this:

[code]

But for some reason when clicking 'Open Plaid Link' the popup is empty and won't show Link:
![image](https://user-images.githubusercontent.com/14287706/103620829-0c8f5a80-4ee9-11

[2021-01-06 16:46] kylegraycar commented on #30
Omg I'm a noob and figured it out.

I was passing the linkToken string in as `{linkToken: link-sandbox-775095b1-a1bc-4f26-9092-c416bffb93d4}` when it should've been just the value, `link-sandbox-775095b1-a1bc-4f26-9092-c416bffb93d4`

Closing this! I suppose some kind of error log would've been helpful, but it was a noob mistake.

[2021-01-06 16:46] #30 closed

[2021-01-15 17:50] ayushin commented on #27
how's the progress on this?

[2021-01-16 02:16] jorgefspereira commented on #27
I hope next week I'll have a new version of the plugin with web support.

[2021-01-24 05:27] kylegraycar opened #31 "Can't run app because of NoClassDefFoundError"
I'm trying to run my app but it appears to be interrupted by some errors within `plaid_flutter`. See runtime snippet below.

I'm on version ^1.1.6

[code]

[2021-01-25 03:20] tan-nad opened #32 "[iOS][LinkSuccessMetadata] Missing verification status"
`verification_status` is returned NULL on iOS (using Same Day Micro-deposits flow in sandbox mode).
and the value of `institutionId` is also different, it is empty on Android and NULL on iOS.

**Android**

**iOS**

Please let me know if I can provide you with any further information

[2021-01-30 15:41] fryette opened #33 "Release 2.0.9 soon?"
Do you have any plans to release 2.0.9?
Or maybe you can provide steps how to migrate from 1.x to 2.x package?
I tried to fetch from GitHub, but unfortunately get an exception about linking.
Steps:
Create new project, add reference to flutter_plaid and try to build
Actual error:
[code]

[2021-01-30 18:24] jorgefspereira commented on #33
Hi @fryette, I'll be releasing very soon a new version of the plugin with the 2.0.9 iOS LinkKit.

[2021-01-31 08:59] fryette commented on #33
I successfully run it. The problem - Cocoapods....I had <1.10.1 version where podspec generated incorrectly. I saw the same on react native thread(Plaid).
Thanks. I will close issue

[2021-01-31 08:59] #33 closed

[2021-01-31 12:50] jorgefspereira commented on #33
Great!

[2021-02-02 09:46] tan-nad commented on #32
I checked with the latest commit and somehow this issue is solved.
Any plan when new version is released?

[2021-02-02 16:42] mikeyyg96 opened #34 "Unsure how to generate link token following the steps"
I tried using the Legacy but I think it has been removed ever since the update, and following their documentation has not given me luck. I was hoping if anyone would share the steps they did to get the token.

[2021-02-03 17:31] jorgefspereira commented on #32
hi @tan-nad,

Yes I'm releasing this week a new version. I had a couple of delays but everything is on track for this week

[2021-02-04 12:37] jorgefspereira commented on #27
Web support released on version 2.0.0. Feel free to report any issue.

[2021-02-04 12:37] #27 closed

[2021-02-04 12:38] jorgefspereira commented on #32
New version released 2.0.0. Feel free to report any issue.

[2021-02-04 12:38] #32 closed

[2021-02-04 12:40] jorgefspereira commented on #18
The onExit function on the new version 2.0.0 returns a LinkError with all the error data. Feel free to report any issue.

[2021-02-04 12:40] #18 closed

[2021-02-04 12:45] jorgefspereira commented on #31
Clean your flutter project, and give a try to the new version of the plugin 2.0.0. I'm closing this issue for now. Feel free to reopen if the issue persists.

[2021-02-04 12:45] #31 closed

[2021-02-05 17:37] jorgefspereira commented on #34
Hi @mikeyyg96, the plugin still supports the legacy configuration but for new plaid accounts the public_key is not being generated. The link_token should be created by your app's server and passed to your app's client through an endpoint. [Here](https://plaid.com/docs/link/link-token-migration-guide/#update-your-server) you can find an example of how you should update your app's server to support

[2021-02-05 17:37] #34 closed

[2021-02-23 11:44] manojkumawat003 opened #35 "How to hide plaid logo in app?"
I want to hide plaid identity in plaid_flutter webview. How to do that?

[2021-02-23 19:29] boomney opened #36 "Unable to start activity ComponentInfo{.../com.plaid.internal.LinkRedirectActivity}"
I am using Andriod Studio to build flutter app using this plugin. The link flow initialises as expected in the Emulator and I am redirected to the Bank (Monzo UK) but on completion and when the screen shows "All done", I am not redirected back to myapp, the emulator crashes - and I get the following messages:

[code]

[2021-02-24 10:26] boomney commented on #36
Sorry, I figured it out, needed to change/add 'Theme.AppCompat' to AndriodManifest.

[2021-02-24 10:26] #36 closed

[2021-02-24 16:28] jorgefspereira commented on #35
I believe it's not possible to hide plaid identity. You can find some customization options under the "Customize" tab in your developer area (https://dashboard.plaid.com/link)

[2021-02-24 16:28] #35 closed

[2021-03-13 07:38] tomwyr opened #37 "Upgrade to Flutter 2 and migrate to Dart null-safety"

[2021-03-13 22:36] cwesterhold opened #38 "Error when running on Web"
I am getting this error when trying to run on web.  Everything is working well on Android.  I have followed all of the instructions that I can find.  Any help would be greatly appreciated.

thanks!

[2021-03-13 16:33:08.910 | Catcher | INFO] Setup localization lazily!
[2021-03-13 16:33:08.911 | ConsoleHandler | INFO] ============================== CATCHER LOG ==============================
[2021-0

[2021-03-13 22:43] cwesterhold commented on #38
I have tried to switch over to flutter master, but still getting the same error.

2021-03-13 16:42:21.822 | ConsoleHandler | INFO] ---------- ERROR ----------
[2021-03-13 16:42:21.823 | ConsoleHandler | INFO] PlatformException(error, TypeError: elements is not iterable, null, null)
[2021-03-13 16:42:21.823 | ConsoleHandler | INFO]
[2021-03-13 16:42:21.823 | ConsoleHandler | INFO] ------- STACK TRA

[2021-03-14 10:40] jorgefspereira commented on #38
I'll try to replicate the error. Thank you for the report.

[2021-03-14 14:00] cwesterhold commented on #38
Thank you.   Please let me know if you need more information or if there is
anything I can do to help.

On Sun, Mar 14, 2021 at 5:40 AM Jorge Pereira ***@***.***>
wrote:

--
Thanks,

Chris Westerhold
Founder/CEO
LiquidSoft.io <http://liquidsoft.io/>
(314) 858-0112

<http://www.facebook.com/liquidsoft.io> <http://twitter.com/LiquidSoftIO>
<http://www.linkedin.com/in/chriswesterhold>

[2021-03-18 22:19] cwesterhold commented on #38
I was able to identify and fix the issue.  Please see pull request.

[2021-03-21 11:36] #38 closed

[2021-03-21 11:37] jorgefspereira commented on #38
@cwesterhold Thank you for the pull request. I'll release a new version with the issue fix.

[2021-03-21 12:13] cwesterhold commented on #38
No problem at all, glad I could help out.   Let me know if other issues come up.  I would be happy to contribute more in the future.

[2021-03-22 21:07] #37 closed

[2021-03-28 13:53] ayushin opened #42 "MissingPluginException(No implementation found for method onEvent on channel plugins.flutter.io/plaid_flutter)"
This happens every time when I call open() on web

[2021-03-30 17:37] tuanvugoodmoney commented on #28
I've seen this issue when testing a web view for other plug ins too, so it may not be isolated to this one. The way I work around it is to mess around with the I/O > Keyboard options.

1. Make sure Connect Hardware Keyboard is already checked
2. Choose Toggle Software Keyboard. Nothing will happen
3. Uncheck Connect Hardware Keyboard. The software keyboard should now pop up.

It's strange but it w

[2021-03-31 20:32] pelanmar1 commented on #42
Same here from iOS

[2021-04-04 18:40] #42 closed

[2021-04-05 16:04] hoangphat258 opened #44 "Crash on iOS when open with Public Key"
When I open with Public Key on iOS, it crashes without any information. It works fine on Android

[2021-04-05 18:37] jorgefspereira commented on #44
hi @hoangphat258, can you provide the error log and the flutter doctor information? I've tested with my public key on the plugin example and works fine.

[2021-04-06 11:23] hoangphat258 commented on #44
Thank you for replying
- Here is the error log:
-[NSNull _fastCStringContents:]
: unrecognized selector sent to instance 0x1e5903ad8
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[NSNull _fastCStringContents:]
: unrecognized selector sent to instance 0x1e5903ad8'
*** First throw call stack:
(0x1a4ac55f0 0x1a47e7bcc 0x1a49c9ea8 0x1a4ac9694 0x1a4acb5bc 0x1b209

[2021-04-17 20:12] lsauss2 opened #45 "Unable to continue with Oauth result"
Hi,

I am using this plugin which works great but I am currently trying to implement Oauth.
I am using the Token Configuration for my Link workflow.

Everything is setup with App Links, the bank's webpage opens and comes back in my App with the "Oauth_state_id" appended to the URI.

However, I do not know what to do with it to continue the Link process once I have it.

I have noticed that the Link

[2021-04-19 10:13] lsauss2 commented on #45
I made it work by exposing the "continueFromRedirectUri" in the plugin and passing the URI I received back from my App Link in JSON format.

Any reason why the "continue" method is not exposed in the plugin?

[2021-04-19 14:58] #45 closed

[2021-04-19 15:02] jorgefspereira commented on #45
Hi @lsauss2, indeed the "continueFromRedirectUri" method is not exposed. I have fixed the issue and a new version (2.1.2) of the plugin will be live today. 👍

[2021-04-19 15:16] lsauss2 commented on #45
Amazing! Thanks for putting together a great library

[2021-04-21 13:06] giorgio79 opened #46 "Firestore structure and security rules for storing user data?"
Could you share a best practice setup with Cloud Firestore for data retrieved via Plaid?

We will probably need some battle hardened security rules.

[2021-05-18 16:36] kylegraycar opened #47 "Unable to launch Plaid Link in Flutter Web due to Dart error"
I'm trying to run plaid_flutter on Chrome. I'm able to successfully fetch the linkToken, but when I proceed to launch Plaid Link I get this error output and the web view does not pop up:
[code]

This is my index.html file:
[code]

I haven't migrated my project to null safety yet, if that matters. Please let me know if there's a solution. Thank you!!!

[2021-06-16 19:15] chillbrodev commented on #36
@boomney I am getting this error, on which activity did you add Theme.AppCompat? Thanks in advanced

[2021-07-06 16:54] jorgefspereira commented on #47
Hi @kylegraycar, sorry for the late response. I've tried with the example provided in the lib and I've got no error. Have you tried using your link token with the example? Sorry again for the late response.

[2021-07-22 17:45] codyfilatov opened #49 "Plaid Link opens briefly and closes with error. "Error: Invalid env: "tartan""
"Error: Invalid env: "tartan". env must be "sandbox", "development" or "production"."

This is the error I am receiving. I have looked through the code and do not have a way to forcibly provide these details. It is important to note that SOMETIMES it works fine and Link opens properly. But 50% of the time it fails to open with this error.

I am also receiving errors related to font
Access to font

[2021-07-22 18:40] codyfilatov commented on #49
Another note. In sandbox, plaid link works fine. This only occur in development

[2021-08-13 09:40] netgfx opened #50 "Error on Open"
I'm testing with sandbox, got the `link_token` from the backend, but when running `.open()` I'm getting

`Unable to create PLKHandler due to: The operation couldn’t be completed. (com.plaid.link error 0.)`

on iOS. Any ideas?

[2021-09-05 01:11] k5924 opened #51 "Unsure how to connect the client to the server"
Sorry if this is a stupid question I'm quite new at this. I was looking through the closed issues to see what I should do but I'm a bit stuck.

I followed the steps at [https://plaid.com/docs/link/android/](https://plaid.com/docs/link/android/) and I am stuck on the Link Token bit. In the most recent issue related to this and in the plaid documentation there is something about the link_token being

[2021-09-07 20:39] k5924 commented on #51
I have found a way to retrieve generate a link token via plaids API but I am still unsure of how to get the example application to take the generated link_token.

Furthermore, I am unsure of what the best practice would be to automatically generate client_user_id per user (code below). Where should I store the API and Secret Key as I am not using a server but using the flutter http package to inte

[2021-09-08 14:46] joshuadeguzman opened #52 "[technical] Upgrade Plaid core for Android and iOS"
### Description
Plaid Link Android has released [v3.5.1](https://github.com/plaid/plaid-link-android/releases) with the Riptide animation and some bug fixes. Likewise for iOS [v2.2.0](https://github.com/plaid/plaid-link-ios/releases/tag/ios%2F2.2.0), additional bug fixes we're added.

There are no breaking changes.

[2021-09-08 15:54] joshuadeguzman commented on #52
I can submit a PR for this one.

[2021-09-09 22:13] k5924 commented on #51
I got the token to connect to the example program, now all I have to do is connect to bank accounts and retrieve transaction/balance information. If I need help or have any issues with that Ill open a new issue ticket.

For anyone in the future reading this, the code I used above is working fine but you have to update the generated token you are passing to the linkConfiguration. Initially I wasn't

[2021-09-09 22:13] #51 closed

[2021-09-19 12:42] #52 closed

[2021-09-22 15:41] #47 closed

[2021-09-22 15:43] jorgefspereira commented on #49
I was unable to reproduce the error. Please give a try to the new version 2.1.4 and test your development key in the example app provided.

[2021-09-22 15:43] #49 closed

[2021-09-22 15:44] jorgefspereira commented on #50
I was unable to reproduce the error. Please give a try to the new version 2.1.4 and try to replicate the error in the example app.

[2021-09-22 15:44] #50 closed

[2021-09-22 15:48] jorgefspereira commented on #46
Hi giorgio. I never used the Plaid Link and Cloud Firestore together. Maybe the Cloud Firestore documentation is a better place to find an answer to your question. Cheers

[2021-09-22 15:48] #46 closed

[2021-09-22 16:28] netgfx commented on #50
Sorry for not responding earlier, the issue was a malformed link token (however an error on the Flutter side woudn't be bad, so we could handle it properly)

[2021-09-29 14:08] arslankaleem7229 opened #54 "Integration of plaid working fror android but crashing app on ios"
I am working with plaid but its crashing on ios. Error is posted below:
[code]

[2021-10-11 19:06] joshuadeguzman opened #55 "Add docs for using `continueWithRedirectUri` method"
It might be helpful to have some docs around the use of `continueWithRedirectUri` method and implementing OAuth in general using this plugin as the available tutorials might not come as straightforward in native iOS, eg. like this [one](https://www.youtube.com/watch?v=krM0dEJK1Gc).

[2021-11-04 00:03] jaesam opened #56 "Warning Note When Launching On Android"
`Note: /Users/jae/development/flutter/.pub-cache/hosted/pub.dartlang.org/plaid_flutter-2.1.4/android/src/main/java/com/github/jorgefspereira/plaid_flutter/PlaidFlutterPlugin.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: /Users/jae/development/flutter/.pub-cache/hosted/pub.dartlang.org/plaid_flutter-2.1.4/android/src/main/java/com/github/jorgefs

[2021-11-05 15:37] arslankaleem7229 opened #57 "Android app is crashing : JDK version need to be updated as this package is clashing with other with updated JDK version"
I am working on wallet app which contains both `plaid` and `stripe`. I have created an issue there but they mentioned that other library is using older JDK version which is creating an issue. Problem is mentioned below please resolve this issue. Thanks

[code]

[2021-11-15 18:25] ShantanuJoshi commented on #54
I was getting the exact same issue and noticed that my build OS version # were mismatched. I'd recommend setting `config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '12.0'` in your podfile for each library as well as explicitly defining `platform :ios, '12.0'` at the top.

I'm using the following code at the end of my podfile:
[code]

[2021-11-16 06:42] arslankaleem7229 commented on #54
Yes I resolved that issue. Thanks

[2021-11-16 06:42] #54 closed

[2021-11-22 12:02] do-lokesh commented on #44
Hi @hoangphat258 , are you able resolve this ?, if YES,  Pls let us know, How did you do that.

[2021-11-22 12:46] hoangphat258 commented on #44
Hi @do-lokesh , I used method channel to resolve this and it works fine

[2021-11-22 12:56] do-lokesh commented on #44
@hoangphat258 , Pls share any links here. that will be very helpful. Thank you.

[2021-11-22 13:32] hoangphat258 commented on #44
https://docs.flutter.dev/development/platform-integration/platform-channels
I used native plaid link and used method channel to receive the result

[2021-12-29 15:53] avdept commented on #55
Hey @joshuadeguzman could you give some info on how did you implement that?

[2022-01-11 15:43] corakwue commented on #55
@joshuadeguzman please can you dump a sample code on how you implemented this?

[2022-01-16 14:40] micaellasry opened #58 "PlaidLink.open crashing android emulator"
Hi everyone,

I'm getting this error when doing PlaidLink.open
Any ideas?

[code]

[2022-01-18 08:01] saharvx9 opened #59 "crash on release mode"
hi when i running in debug mode and profile everything works ,
but in release i get this error:

version i am facing off : `2.2.0`

[code]

i think the error maybe come from progaurd that u using or the plaid official lib

[2022-01-25 12:28] avi-barel-bv opened #60 "'Close' method not implemented"
Hey @jorgefspereira,

I'm listening to the events from Plaid, and in some scenarios I need to close the Plaid window and return to my app.
In iOS this works great by calling `PlaidLink.close();`
However, in Android it doesn't work and I noticed the close method has no implementation.
Is there a reason for that? How can I add the close logic?

Thanks,
Avi

[2022-01-26 18:04] jorgefspereira commented on #60
Hi @avi-barel-bv , You're right. I'll add the close logic in the upcoming release.

[2022-01-26 18:08] jorgefspereira commented on #44
I was unable to replicate this issue. Is it still happening?

[2022-01-26 18:08] jorgefspereira commented on #59
I'll try to replicate this using the plugin example.

[2022-01-26 18:13] jorgefspereira commented on #57
You probably need to exclude bouncy castle as a transitive dependency.  This [thread](https://github.com/idnow/de.idnow.android/issues/60) might help you fix the issue.

[2022-01-26 18:13] #57 closed

[2022-01-26 18:18] jorgefspereira commented on #58
It seems your linkTokenConfiguration parameter is null. At least from the logs is what appears to be. Closing for now, let me know if the problem still persists.

[2022-01-26 18:18] #58 closed

[2022-01-26 18:19] jorgefspereira commented on #44
@hoangphat258 if you can replicate, can you provide a pull request with a fix?

[2022-01-27 12:08] avi-barel-bv commented on #60
Thanks 👍

[2022-02-12 21:19] droididan opened #61 "Crash when opening the app"
I get this exception when I open the app

[code]

[2022-02-21 16:16] arslankaleem7229 opened #62 "Pods install failed due to plaid"
[code]

[2022-02-21 17:06] jorgefspereira commented on #62
Hi @arslankaleem7229, in your project... go to the `ios` folder and run `pod update`.  You have the 2.2.0 pod install and need to update to the 2.3.1.

[2022-02-21 17:14] arslankaleem7229 commented on #62
Yes i did that and this issue occurs at that time

[2022-02-22 18:06] #62 closed

[2022-02-22 20:20] phoenixy1 opened #63 "security vulnerabilities in deps"
Hi @jorgefspereira !

Plaid's security team has completed their review of this project and there are a couple of dependencies that were picked up by our vulnerability scanner as having potential issues. They would like these to be fixed before we can officially endorse the project. Would you be able to take a look and resolve them if possible?

They are:

plaid_flutter/android | com.google.code.gs

[2022-02-23 16:45] jorgefspereira commented on #63
Hi @phoenixy1 😄

I've updated the deps and should be fixed. The only exception is the `com.google.code.gson:gson@2.8.5` which seems to be a dependency of the most recent version of `com.plaid.link:sdk-core@3.7.1`.

Let me know if everything is ok for the security team.

[2022-02-24 17:53] Deuque commented on #59
Any fixes for this yet

[2022-02-24 17:53] Deuque commented on #59
Any ideas?

[2022-02-24 20:30] phoenixy1 commented on #63
yep, I just got their signof!

[2022-03-11 12:08] PrabavathiKalidoss commented on #49
We are using plaid_flutter: ^2.2.0 version.But we still have a issue on android version 8 like,
Access to font at 'https://cdn.plaid.com/link/2.0.1097/assets/fonts/cern-regular.woff2' from origin 'https://secure.plaid.com/' has been blocked by CORS policy

Help me to fix this issue.

[2022-03-14 10:53] PrabavathiKalidoss opened #65 "blocked by CORS policy Issue in android version 8"
We are using plaid_flutter: ^2.2.0 version.But we still have a issue on android version 8 like,
Access to font at 'https://cdn.plaid.com/link/2.0.1097/assets/fonts/cern-regular.woff2' from origin 'https://secure.plaid.com/' has been blocked by CORS policy

Help me to fix this issue.

[2022-03-15 15:58] #60 closed

[2022-03-15 16:45] jorgefspereira commented on #65
Hi @PrabavathiKalidoss. This seems an issue related with the Plaid Link SDK itself and not this flutter wrapper. Please give a try to the newest update version 2.2.1 (has the latest sdks) to see if the issue is fixed. If the issue persists, try to report on plaid issue tracker for android.

[2022-03-15 16:45] #65 closed

[2022-03-16 14:17] gitumar opened #66 "Server Needed for Plaid Link Question"
Hi, Is everyone using Firebase Cloud Functions for their server logic or are you creating a whole separate web app to handle the server logic needed for this plugin?

Thanks!

[2022-03-30 16:17] k5924 opened #67 "No browser redirect"
Ive implemented plaid so the part where a user can choose the bank they want to connect to works but, when I click continue which normally redirects to the browser, no webpage is opened in the browser. I know its not a webview issue as other webviews in my application work fine. Any ideas?

I thought it might be a permissions issue but the plaid frontend loads in the application and the applicatio

[2022-04-10 14:03] k5924 commented on #61
I dont know if you've tried this or if you have already resolved your issue but I hope this helps [stack overflow fix](https://stackoverflow.com/questions/69783824/targeting-s-version-31-and-above-requires-that-one-of-flag-immutable-or-flag)

[2022-04-28 15:51] Pexeed opened #68 "v2.2.1 error when building for iOS, v2.2.0 works"
Hello!
I updated to `v2.2.1` to be able to use the `PlaidLink.close()`, it worked in Android perfectly!
But then on iOS it is not building, it's throwing this error:
[code]

Anybody else facing this?
When I change back to v2.2.0 it works on iOS, but `PlaidLink.close()` stops working.

[2022-04-28 16:00] #68 closed

[2022-06-07 13:39] BetulComak opened #69 "7 enumeration values not handled in switch"
I am using plaid_flutter package in flutter application. But when I get build for ios via Xcode, it gives  3 issue. How can i solve this?

1. "7 **enumeration values not handled in switch: 'PLKViewNameValueMatchedConsent', 'PLKViewNameValueMatchedCredential', 'PLKViewNameValueMatchedMFA'...** "
2.  'continueFromRedirectUri:' is deprecated: continueFromRedirectUri: is deprecated in favor continueWi

[2022-06-29 11:16] #69 closed

[2022-07-11 10:42] CocoaJerry opened #70 "Callback does not execute"
device: samsung
sdk-version: 2.2.2

When the app goes into the background for a while, and then reopen the app and click the auth button, we successfully complete the auth operation, but there is no output from the callback. but the other callback we added goes well. Is there any variable being freed during this period or something else?

[2022-07-11 14:52] CocoaJerry commented on #70
![image](https://user-images.githubusercontent.com/15193239/178292254-89fc0bc4-e1d2-490b-a371-32a7ab3cde0d.png)
Just these callbacks. They are basically the same as the demo implementation. I only add some callback handling. When the app enters the background for about half an hour, the problem I said will appear.

[2022-07-14 09:39] dirisujesse opened #71 "Plaid Session Closes Automatically"
Hi,

I am using this plugin which works great but I am currently facing an issue where the Plaid Session UI closes automatically when verifying a linked account for a particular user.

I attach some screen recordings for your benefit and the result of running flutter doctor.

https://user-images.githubusercontent.com/24277006/178952492-5fc742f2-251c-44a0-8b36-ae85ef3f6573.MP4

<img width="1283" al

[2022-07-23 21:50] vetribalaji opened #72 "Handle continueFromRedirectUri on Android"
Is it possible to add the continueFromRedirectUri on Android?

[2022-07-28 01:16] #72 closed

[2022-08-05 03:17] ndahlquist commented on #55
With version 2.2.2, I'm getting an error after calling `continueWithRedirectUri`.

![Image from iOS](https://user-images.githubusercontent.com/1558385/182993914-f553e99e-9b94-4b30-9875-60803fea479f.png)

It looks like the root cause might be something in the Plaid SDK; not sure how to debug.
[code]

Working sample code would definitely be a help, if anyone has it :)

[2022-08-05 03:50] ndahlquist commented on #66
We used Cloud Functions for this (migrated to Cloud Run recently, but similar).

[2022-08-05 04:28] ndahlquist commented on #45
@lsauss2 @jorgefspereira , any chance either of you could provide the code snippet for where/how you are calling `continueFromRedirectUri`? A few of us over at https://github.com/jorgefspereira/plaid_flutter/issues/55 would appreciate it.

I tried calling this when I receive the deeplink URL in `onGenerateRoute`, but am getting crashes in the Plaid SDK.

If we get this working, I'm happy to volunt

[2022-08-05 23:13] ndahlquist commented on #55
I was finally able to get this to work! Turns out the `LayoutConstraints` thing is a red herring (the same error happens in the official Plaid iOS SDK example). The issue I was having was the redirect URI had an extra slash (of course the Plaid SDK fails silently without explaining why... ).

I am calling this from `onGenerateRoute`, when the deeplink is received by the app:

[code]

[2022-08-29 17:08] davidmigloz opened #73 "Getting "No result returned" onExit error in Android"
Hello,

Firstable, thanks for your contribution to the Flutter community.

I'm trying to integrate Plaid into our Flutter. The Plaid flow is working fine in iOS, but in Android I get the following error from `onExit` callback after Plaid redirects back to the app:
<img width="486" alt="image" src="https://user-images.githubusercontent.com/6546265/187255732-51deb691-c2dd-436a-b16e-985ae6ea3605.png"

[2022-08-30 12:28] davidmigloz commented on #73
I found the problem!

In the link token create request I was providing only ` redirect_uri` (needed for iOS) . But for Android `android_package_name` has to be provided instead.
<img width="544" alt="image" src="https://user-images.githubusercontent.com/6546265/187436097-07f594e1-3a82-4202-9575-1c0ce43a70cd.png">

After adding it, it works as expected 🙂

[2022-08-30 12:28] #73 closed

[2022-09-07 22:51] alefischer13 opened #74 "continueWithRedirectUri does not continue Plaid Link flow"
Hello,

I'm using `PlaidLink.continueWithRedirectUri` when testing OAuth app-to-app. After finishing the connect flow in the 3rd-party bank app, my application opens, I see "Continue with sign in" on the Plaid Link for a split second, and then it closes and sends me back to the page where I initiate `PlaidLink.open()`. I ensured that the redirect uri is the one we are expecting (oauth_state_id=<xy

[2022-09-09 15:17] devabdiel commented on #70
We also are facing the same issue, not after resuming the app from brackground, just the `onSuccess`, `onEvent` and `onExit` callbacks are not executed even if we close and reopen the link.
[code]

[2022-09-15 19:36] MarinMijalic opened #75 "Plaid flow OAuth app-to-app IOS not rediretcing back to the app"
Hello,

I'm having trouble with the implmentation of the OAuth app-to-app on IOS devices. Basically, browser OAuth is working as intended but when I test app-to-app OAuth I am not redirected back to the app I stay on the blank page set up for redirection.  Flow completes in the background and selected accounts are present in the app, you just need to enter them into the app manually.

Marin

[2022-09-21 12:42] BetulComak opened #76 "java.lang.RuntimeException: Unable to start activity ComponentInfo{com.my.app/com.plaid.internal.LinkRedirectActivity}: java.lang.IllegalStateException: You need to use a Theme.AppCompat theme (or descendant) with this activity."
The link flow initializes as expected on the phone and I am redirected to the Bank (Wise UK) but on completion and when the screen shows "All done", I am not redirected back to my app, the phone crashes - and I get the following message:

`Shutting down VM

E/AndroidRuntime( 3826): FATAL EXCEPTION: main

E/AndroidRuntime( 3826): Process: com.my.app, PID: 3826

E/AndroidRuntime( 3826): java.lang.Ru

[2022-09-26 22:18] Hamlet626 opened #77 ""You may need to update your app" when connect to Chase"
The embedded linking page shows "You may need to update your app in order to connect to Chase" as shown below.
It's on flutter web. I used
flutter 3.3.2
plaid_flutter 2.2.2 .

<img width="437" alt="Screen Shot 2022-09-26 at 3 02 24 PM" src="https://user-images.githubusercontent.com/26908521/192390552-82791b54-c661-4265-84da-3bb14524e666.png">

Not sure if that error is related to the plaid_flutter

[2022-09-29 17:32] Hamlet626 commented on #77
Solved,so it requires to go through the Chase OAuth on Plaid Dashboard. And After I finished filling those info, it shows processing for Chase OAuth now.

[2022-09-29 17:32] #77 closed

[2022-10-05 15:42] abmaazouz opened #78 "Slow then crashes on iOS"
Hello,

The package works fine on Android, but it takes time to show-up the first screen then while moving to other screens it slowdown and then it freezes. When I close the App and I open it again, iOS displays a message telling the App has crashed.
From Xcode, I see the error 'UIKitCore UIResponder does not recognize Selector'.

I'm using Flutter 3.3.2, XCode 13.0 & iOS 12.1.

Any help will be g

[2022-10-07 16:02] FilledStacks opened #79 "No accounts returned on Development Environment"
I recently moved over from the Sandbox env to the Development env on plaid. We started testing with real bank accounts but we're not getting any accounts back when the success fires.

[code]

I checked the model and see that you don't print out the accounts in the description, but there is no accounts. I debugged and checked. Is there anything specific we need to do to get account in the dev envir

[2022-10-10 14:58] abmaazouz commented on #78
It has nothing to do with the plugin itslef, but was caused by a drawing loop & conflict between the Plaid screen and Google Ads.

[2022-10-10 14:58] #78 closed

[2022-10-21 18:24] sezer commented on #76
Any update about this one? Getting same error. Addin theme to manifest did not work.

[2022-10-27 13:24] btrautmann commented on #76
@sezer I've explained the solution in https://github.com/plaid/plaid-link-android/issues/148#issuecomment-1293521663, and @BetulComak I think that should work for you as well.

[2022-11-04 17:59] jay2jp opened #80 "Is there anyway to reopen the plaid link upon an o auth redirect for web?"
Im watching the plaid tutorial for the web SDK and when handling the oauth redirect they specify recievedRedirectUri here. I cant seem to find a way to reopen the plaidlink with this library when coming back from oauth on mobile web. Is this not possible with this package?
![image](https://user-images.githubusercontent.com/17814331/200044093-daa86464-1122-4c4c-a410-d328de169b04.png)

[2022-11-07 13:43] jay2jp commented on #80
Hey, so I wrote my own fork of the library that has the functionality for this if anyone is looking for it you can just use it from here
https://github.com/jay2jp/plaid_flutter_cambio. I didn't make a pull request since it is a bit hackey since and not well implemented but to use it all you have to do use is use  LinkTokenConfigurationRedir instead of LinkTokenConfiguration. within that, there is

[2022-11-07 13:43] #80 closed

[2022-11-07 16:59] jorgefspereira commented on #80
Hi @jay2jp, I'll take a look to your fork and implement this feature for the web 👍

[2022-11-14 09:45] Magadya opened #82 "No browser redirect after clicking "continue" on the last page."
Development env.
Android.

I have problem with redirect after clicking "continue" on the last page. After clicking the button, an attempt is made to redirect to the URL: https://analytics.plaid.com/sentry/api/5/store/?sentry_version=7&sentry_client=raven-js/3.22.4&sentry_key=70ddbe2c1d3e40299887a99df1d4828f

by nothing else.

https://user-images.githubusercontent.com/52001214/201617807-8c49659d-8c

[2022-11-17 12:27] jorgefspereira commented on #76
Thank you @btrautmann for point to the solution.

[2022-11-17 12:27] #76 closed

[2022-11-17 12:28] #66 closed

[2022-11-17 14:16] btrautmann commented on #76
@jorgefspereira just a heads up, this should really be remediated on the plaid SDK side. Overriding the theme on the host app's manifest shouldn't be necessary IMO.

[2022-11-17 14:20] jorgefspereira commented on #70
I changed this callback pattern to stream events. Hopefully this fixes the issue.

[2022-11-17 14:20] #70 closed

[2022-11-17 14:23] #29 closed

[2022-11-17 14:23] #44 closed

[2022-11-17 14:24] #28 closed

[2022-11-17 15:44] jorgefspereira commented on #82
Hi @Magadya, it seems you are missing two configuration steps :
1 - Add your android package name in your developer dashboard (https://dashboard.plaid.com/team/api)
2 - Request your link token with the option 'android_package_name' (https://plaid.com/docs/api/tokens/#link-token-create-request-android-package-name)

Hopefully this fixes your issue.

[2022-11-17 15:44] #82 closed

[2022-11-17 15:53] jorgefspereira commented on #67
As per description, it seems very similar to issue #82.

I left here (https://github.com/jorgefspereira/plaid_flutter/issues/82#issuecomment-1318830133) a possible solution for the problem. Feel free to reopen or pull request an issue fix if you found the problem's root.

[2022-11-17 15:53] #67 closed

[2022-11-17 15:58] jorgefspereira commented on #80
Published version 3.0.0 with `receivedRedirectUri` option for the web.

[2022-11-17 16:00] #61 closed

[2022-11-17 16:00] #59 closed

[2022-11-18 02:42] CocoaJerry commented on #70
I will update the sdk version and check if the issue still exists. Thank you

[2022-11-28 21:23] phoenixy1 opened #84 ""Enter" key not being read (issue from Stack Overflow)"
I am NOT the person experiencing this issue, I just wanted to flag it to @jorgefspereira or anyone else who might know what's up and be able to volunteer an answer on SO:

https://stackoverflow.com/questions/74601163/the-enter-return-key-is-not-being-read-on-a-flutter-webview-using-the-webview-fl

[2022-11-29 02:28] luisforditch commented on #84
Thanks for bubbling this up, I was the one that asked the question on SO, i'm having this configuration issue but I'm not using the plaid_flutter package. However maybe OP will have some insight here as well.

My email is <a href="mailto:email@example.com">luis@ditch.io</a> in case anyone seeing this has any insight. Still haven't figured out a fix for this.